footer {
    height: 100px;
    background-color: nth($colores, 3);
    padding: 10px 10px 10px 10px;
    @include flex (flex, space-between, unset, unset, nowrap);

    div {
        
        width: 50%;
        @include flex (flex, center, center, unset, nowrap);
        margin: 0 10px 0 10px;
        color: $color-blanco;
        
        font-weight: 500;

        a i {
            font-size: 40px;
            height: auto !important;
            color: $color-blanco;
        }

        p {
            color: $color-blanco;
            margin: 0 0 0 60px;
            text-align: center;
        }
    }
}