//index

main {
    @include flex (flex, center, center, column, nowrap);
    width: 100%;

    .banner-index {
        background-image: url(../img/banner-ferrari-sf-24.jpg);
        @extend %background-properties;
        height: 50vh;
        margin-top: 0px;
        @include flex (flex, center, center, unset, nowrap);
        width: 100%;

        h1 {
            color: #ffeb00;
            text-shadow:
                7px 7px 9px #000,
                -3px 3px 2px #000,
                -3px -3px 0 #000,
                3px -3px 0 #000;
            text-align: center;
        }

        h2 {
            text-align: center;
            color: $color-blanco;
            font-weight: 800;
        }
    }

    // inicio de noticias
    .noti-delta {
        @include flex (flex, center, center, unset, wrap);
        width: 80%;

        .noti-title {
            margin: 30px 15px 30px 15px;
            text-align: center;
            width: 100vw;
        }

        .noti-card {
            width: 300px;
            height: 375px;
            background-color: $color-blanco;
            border-radius: 10px;
            border-bottom: solid 6px $color-rojobase;
            border-right: solid 6px $color-rojobase;
            margin: 30px 15px 30px 15px;
            @include flex (flex, center, center, column, nowrap);
            &:hover {
                box-shadow: 7px 7px 11px #ca000094;
            }

            img {
                width: 100%;
                height: $alto + 0;
                border-radius: 5px 5px 0 0;
            }

            h3 {
                margin: 10px 0 30PX 0;
                text-align: center;
                font-size: 1.4rem;
                padding: 0 10px 0 10px;
            }
        }
    }
}

// fin noticias

//inicio de calendario

.calendar-grid {
    width: 80%;
    padding: 0 20px 20px 20px;
    display: grid;
    margin: 5px;
    grid-auto-rows: 420px;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    gap: 30px;
    align-items: center;

    .calendar-title-grid {
        grid-column: 1 / 4;
        align-content: center;
        font-family: 'bebas';
        font-style: italic;
        font-weight: 600;
        font-size: 4rem;
        color: $color-rojobase;
        text-align: center;
    }

    .calendar-item {
        background-color: $color-blanco;
        font-size: 30px;
        font-family: 'roboto';
        padding: 10px;
        text-align: center;
        align-content: center;
        border-radius: 10px;
        border-bottom: solid 6px $color-rojobase;
        border-right: solid 6px $color-rojobase;

        h3 {
            font-family: 'bebas neue';
            font-style: italic;
            font-size: 45px;
            color: $color-rojobase;
            margin-top: 10px;
        }

        h4 {
            font-family: 'bebas neue';
            font-style: italic;
            font-size: 39px;
            color: $color-negrobase;
            margin: 0 0 17px 0;
        }

        h5 {
            font-size: 27px;
            font-weight: 800;
        }

        p {
            font-family: 'roboto';
            font-size: 21px;
            font-weight: 400;
            font-style: italic;
        }
    }
}

// fin calendario

//fin main index