@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//body generales

body {
    background-image: url(../img/fondo-linea.png);
    margin: 0%;

    h1 {
        font-family: 'Bebas Neue';
        font-style: italic;
        font-weight: 900;
        font-size: 50px;
        color: $color-rojobase;
        margin-top: 15px;
        text-align: center;
    }

    h2 {
        font-family: 'roboto';
    }

    h3 {
        font-family: 'roboto';
    }

    p {
        font-family: 'roboto';
        color: $color-negrobase;
        font-weight: 500;
        
    }

    a {
        font-family: 'roboto';
        text-decoration: none;
    }
}

// fin body generales

