@media screen and (max-width: 1200px) {

    .main-calendar {
        .calendar-grid {
            grid-template-columns: repeat(2, 1fr);

            .calendar-title-grid {
                grid-column: 1 / 3;
            }
        }
    }
}

@media screen and (max-width: 840px) {
    .main-position {
        .position-grid {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 30px;
            column-gap: 0;

            .primera-posicion {
                grid-area: 1/2/2;
            }

            .segunda-posicion {
                grid-area: 2/2/2;
            }

            .tercera-posicion {
                grid-area: 3/2/3;
            }
        }
    }
}

@media screen and (max-width: 799px) {

    .main-calendar {
        .calendar-grid {
            grid-template-columns: repeat(1, 1fr);

            .calendar-title-grid {
                grid-column: 1 / 2;
                width: 100%;
            }
        }
    }


    .main-position {
        section {
            table {
                thead {
                    font-size: 1.5em;
                }

                .row-pilotos {
                    font-size: 1em;
                }
            }
        }
    }

    footer div a i {
        font-size: 30px;
    }
}

@media screen and (max-width: 460px) {
    .main-calendar {
        .calendar-grid {
            .calendar-title-grid {
                font-size: 3rem;
            }
        }
    }
}